<html>

<head>
    <title>Blog</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="container">
        <header class="header">

            <div class="header">
                <div class="back1"></div>
                <div class="menu"></div>

            </div>

        </header>
        <div class="main">
            <div id="content">

                <div class="body">

                </div>

            </div>
        </div>
        <footer class="footer">
            <div class="footer">
                <p>Please Connect us</p>
            </div>
        </footer>
    </div>
    </body>
</html>
