<html id="container">

<head>
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body class="main-body">
    <div id="containera">
        <header class="header">
        {% block header %}
            <h1 class="hmain">Blog</h1>
            <p class="hmain-tail">Philosophy  Magic  Art</p>
        {% end %}
        </header>
        <div class="main">
            <div id="content">
                {% block body %}
                <div class="ce">

                </div>
                <div class="body">

                </div>
                {% end %}
            </div>
        </div>
        <footer class="footer">
            Please Connect us
        </footer>
    </div>
    </body>
</html>
